@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
  margin: 10px;
}

.example-form {
    min-width: 150px;
    width: 100%;
    .input-message {
      display: flex;
      width: 100%;
      mat-form-field {
        width: 100%;
      }
    }
  }
  
  .example-full-width {
    width: 100%;
  }